@charset "utf-8";
/* CSS Document */


@media only screen and (min-width: 800px){	
	
		.pg_seletor {
		width: auto;
		position: relative;
		height: 50px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		background-color: steelblue;
		color: #ffffff;
		padding: 0px 10px;
		font-size: 2em;
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
}
}

@media only screen and (min-width: 769px){	
	
/*################################
estilização do slideshow*/

.jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }


.noticia_titulo_home{
	position:absolute;
	right: 8.333333333333333%; /*100px de 1200px de borda*/
	bottom: 10px;
	width:480px;
	height:auto;
	/*background-color:rgba(255,188,5,0.8);*/
	line-height:1.27;
	padding:5px 5px 5px 5px;
	box-sizing:border-box;
	z-index: 1;
}

.noticia_titulo_home h1 {
	font-size: 2em;
	color: #44B4FF;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
}

.noticia_titulo_home h2 {
	font-size: 1em; /*12px*/
	color: #ffffff;
	/*text-shadow: 1px 1px 2px #000000;*/
	
}

.noticia_titulo_home a {
	text-decoration: none;
	font-size: 1em;
	color: #1E76B2;
	float: right;
	border-bottom: 2px solid #1E76B2;
	margin-top: 10px;
}

.noticia_titulo_home a:hover {
	color: #44B4FF;
	transition: .5s all ease;
}

/*jssor slider bullet skin 032 css*/
        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

	
	.noticias_container {
		width: auto;
		flex-grow: 1;
	}
	
	.categorias_lancamento_container {
		width: 400px;
		height: 1000px;
		background-color: brown;
	}
	
	.lista_noticias {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: #555454;*/
	}

	.lista_noticias h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 30px;
	}
	
	.noticia {
		width: 100%;
		height: auto;
		/*background-color: aquamarine;*/
		display: flex;
		flex-direction: row;
		margin-bottom: 15px
	}
	
	.imgNoticia {
		width: 30%;
		height: auto;
		/*background-color: blueviolet;*/
	}
	
	.imgNoticia img{
		width: 100%;
		height: auto;
	}
	
	.infoNoticiaContainer {
		width: 70%;
		height: auto;
		/*background-color: darkgoldenrod;*/
		padding: 0px 10px;
	}
	
	.infoNoticia {
		width: 100%;
		height: auto;
/*		background-color: violet;*/	
	}
	
	.infoNoticia button {
		width: auto;
		display: block;
		height: 20px;
		border-radius: 10px;
		border-style: none;
		color: #FFFFFF;
		padding: 0px 10px;
		font-size: 1em;
		float: left;
		margin-right: 10px;
		text-align: center;
	}
	
	.infoNoticia p {
		width: auto;
		float: left;
		font-size: .75em;
		padding-top: 3px;
	}
	
	.infoNoticia .Cinema {
		background-color: #1F3F60;		
	}
	
	.infoNoticia .Games {
		background-color: #007F06;		
	}
	
	.infoNoticia .Series {
		background-color: #D19600;		
	}
	
	.chamadaNoticia {
		width: 100%;
		height: auto;
		/*background-color: springgreen;*/
		clear: both;
		margin-top: 15px;
	}
	
	.chamadaNoticia a {
		text-decoration: none;
		color: #ffffff;
	}
	
	.pg_seletor {
		width: auto;
		position: relative;
		height: 50px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		background-color: steelblue;
		color: #ffffff;
		padding: 0px 10px;
		font-size: 2em;
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
}


}
	
@media only screen and (max-width: 768px){
	

	.slider {
		width: 100%;
		height: 300px;
		background-color: chartreuse;
	}
	
.noticia_titulo_home{
	position:absolute;
	right: 5%;
	bottom: 10px;
	width:90%;
	height:auto;
	/*background-color:rgba(255,188,5,0.8);*/
	line-height:1.27;
	padding:5px 5px 5px 5px;
	box-sizing:border-box;
	z-index: 1;
}

.noticia_titulo_home h1 {
	font-size: 3em;
	color: #44B4FF;
	text-shadow: 1px 1px 2px #000000;
	font-weight: bold;
}

.noticia_titulo_home h2 {
	font-size: 1.5em; /*12px*/
	color: #ffffff;
	/*text-shadow: 1px 1px 2px #000000;*/
	
}

.noticia_titulo_home a {
	text-decoration: none;
	font-size: 1em;
	color: #1E76B2;
	float: right;
	border-bottom: 2px solid #1E76B2;
	margin-top: 10px;
}

.noticia_titulo_home a:hover {
	color: #44B4FF;
	transition: .5s all ease;
}	
	
	
	.noticias_container {
		width: auto;
		flex-grow: 1;
	}
	
	.categorias_lancamento_container {
		width: 400px;
		height: 1000px;
		background-color: brown;
		display: none;
	}
	
	.lista_noticias {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: #555454;*/
	}

	.lista_noticias h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 20px;
	}
	
	.noticia {
		width: 100%;
		height: auto;
		/*background-color: aquamarine;*/
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
	}
	
	.imgNoticia {
		width: 30%;
		height: auto;
		/*background-color: blueviolet;*/
	}
	
	.imgNoticia img{
		width: 100%;
		height: auto;
	}
	
	.infoNoticiaContainer {
		width: 70%;
		height: auto;
		/*background-color: darkgoldenrod;*/
		padding: 0px 0px 0px 10px;
	}
	
	.infoNoticia {
		width: 100%;
		height: auto;
/*		background-color: violet;*/	
	}
	
	.infoNoticia button {
		width: auto;
		display: block;
		height: 20px;
		border-radius: 11px;
		border-style: none;
		color: #FFFFFF;
		padding: 0px 10px;
		font-size: 1em;
		float: left;
		margin-right: 10px;
		text-align: center;
	}
	
	.infoNoticia p {
		width: auto;
		float: left;
		font-size: .75em;
		padding-top: 0px;
	}
	
	.infoNoticia .Cinema {
		background-color: #1F3F60;		
	}
	
	.infoNoticia .Games {
		background-color: #007F06;		
	}
	
	.infoNoticia .Series {
		background-color: #D19600;		
	}
	
	.chamadaNoticia {
		width: 100%;
		height: auto;
		/*background-color: springgreen;*/
		clear: both;
		margin-top: 10px;
	}
	
	.chamadaNoticia a {
		text-decoration: none;
		color: #ffffff;
	}

		.pg_seletor {
		width: auto;
		position: relative;
		height: 50px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		background-color: steelblue;
		color: #ffffff;
		padding: 0px 10px;
		font-size: 2em;
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
}
	
	
}
	
@media only screen and (max-width: 360px){
		
	.slider {
		width: 100%;
		height: 150px;
		background-color: chartreuse;
	}

	
	.noticias_container, .lancamentos_container, .noticia_container {
		width: 100%;
		height: auto;
/*		background-color: gray;
*/	}
	
	.lista_noticias {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: #555454;*/
	}

	.lista_noticias h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 10px;
	}
	
	.noticia {
		width: 100%;
		height: auto;
/*		background-color: aquamarine;
*/		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
	}
	
	.imgNoticia {
		width: 30%;
		height: auto;
/*		background-color: blueviolet;
*/	}
	
	.imgNoticia img{
		width: 100%;
		height: auto;
	}
	
	.infoNoticiaContainer {
		width: 70%;
		height: auto;
/*		background-color: darkgoldenrod;
*/		padding: 0px 0px 0px 10px;
	}
	
	.infoNoticia {
		width: 100%;
		height: auto;
/*		background-color: violet;*/	
	}
	
	.infoNoticia button {
		width: auto;
		display: block;
		height: 14px;
		border-radius: 7px;
		border-style: none;
		color: #FFFFFF;
		padding: 0px 8px;
		font-size: .65em;
		float: left;
		margin-right: 5px;
		text-align: center;
	}
	
	.infoNoticia p {
		width: auto;
		float: left;
		font-size: .5em;
		padding-top: 0px;
	}
	
	.infoNoticia .Cinema {
		background-color: #1F3F60;		
	}
	
	.infoNoticia .Games {
		background-color: #007F06;		
	}
	
	.infoNoticia .Series {
		background-color: #D19600;		
	}
	
	.chamadaNoticia {
		width: 100%;
		height: auto;
		/*background-color: goldenrod;*/
		clear: both;
		margin-top: 5px;
	}
	
	.chamadaNoticia p {
		line-height: 1em;
	}
	
	.chamadaNoticia a {
		text-decoration: none;
		color: #ffffff;
		font-size: .75em;
	}
	
		.pg_seletor {
		width: auto;
		position: relative;
		height: 32px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		background-color: steelblue;
		color: #ffffff;
		padding: 0px 10px;
		font-size: 1.25em; /*20px*/
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 16px;
		border-top-left-radius: 16px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 16px;
		border-top-right-radius: 16px;
}
	
}