@charset "utf-8";
/* CSS Document */

* {
	margin: 0 auto;
	padding: 0; 
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

@font-face {
     font-family: minha_font;
     src: url('font/Roboto-Regular.ttf');
}

/*ESTILO GERAL DA COR DE FUNDO, TAMANHO DO TEXTO E COR DO TEXTO*/
body{
	font-family: minha_font;
	font-weight: normal;
	background-color: #232323;
	color: #ffffff;
}

@media only screen and (min-width: 769px){	
	
	header {
		width: 100%;
		height: auto;
		background-color: #313131;
		display: flex;
		flex-direction: row;
	}

	#logo_topo {
		width: 200px;
		height: 60px;
		/*background-color: yellow; */
	}
	
	.logo {
		width: 100%;
		height: auto;
		padding: 0px 10%;
	}
	
	#menu_topo {
		width: auto;
		height: 40px;
		background-color: #313131;
		float: left;
		flex-grow: 1;
		padding-top: 14px;
	}
	
	.categoriaPaginaHome {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaCinema {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaGames {
		width: 100%;
		height: auto;
		background-color: #007F06;
	}
	
	.categoriaPaginaSeries {
		width: 100%;
		height: auto;;
		background-color: #D19600;
	}
	
	.categoriaPaginaLancamentos {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaNoticias {
		width: 100%;
		height: auto;
		background-color: #25043B;
	}
	
	.categoriaPaginaHome h2, .categoriaPaginaCinema h2, .categoriaPaginaGames h2, .categoriaPaginaSeries h2, .categoriaPaginaLancamentos h2, .categoriaPaginaNoticias h2{
		text-align: center;
		color: #FFFFFF;
		padding: 10px 0px;
	}	
		
	.submenu {
		width: 100%;
		height: auto;
		background-color: #3d3d3d;
		display: none;
	}
	
	.categorias {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	.categorias li{
		width: 33%;
		float: left;
		list-style: none;
		/*padding: 10px 20px;*/
		border-radius: 25px;
		text-align: center;
		margin: 10px 10px;
		transition: 1s ease all;
		border: 2px solid #ffffff;
	}
	
	.categorias li a{
		display: block;
		text-decoration: none;
		font-size: 1.5em; /*24px*/
		font-weight: bold;
		color: #FFFFFF;
	}
	
	#categoria_home {
		background-color: #969696;
	}
	
	#categoria_filme {
		background-color: #1F3F60;
	}
	
	#categoria_serie {
		background-color: #D19600;
	}
	
	#categoria_game {
		background-color: #007F06;
	}
	
	#categoria_lanc {
		background-color: #313131;
	}
	
	.categorias li:hover {
		box-shadow: 0px 0px 4px #ffffff;
		transition: 1s ease all;
	}
	
	#categoria_home p, #categoria_filme p, #categoria_serie p, #categoria_game p, #categoria_lanc p {
		text-transform: uppercase;
		font-size: .5em;
		padding: 0 auto;
		height: auto;
		display: inherit;
	}
	
	#filtro_container_noticias {
		width: 100%;
		height: auto;
		background-color: #25043b;
		padding: 5px 10px;
		overflow: auto;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	#filtro_container_noticias li{
		width: 25%;
		float: left;
		background-color: #313131;
		margin-right: 5%;
		list-style: none;
		text-align: center;
		border-radius: 15px;
		transition: .25s all ease;
	}
	
	#filtro_container_noticias li:last-child{
		margin-right: 0%;
	}
	
	#filtro_container_noticias li a{
		display: block;
		color: #FFFFFF;
		font-size: 1.25em;
		font-weight: bold;
		text-decoration: none;
		padding: 5px 0px;
	}
	
	#filtro_container_noticias li:hover {
		box-shadow: 0px 0px 3px #ffffff;
		transition: .5s all ease;
	}
	
	#lancamentos_container_mobile {
		width: 100%;
		height: auto;
		/*background-color: blueviolet;*/
		padding: 10px;
		display: none;
	}
	
	
	#tendencias_container {
		width: 100%;
		height: auto;
		/*background-color: blueviolet;*/
		padding: 5px;
	}
	
	#tendencias_container h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 10px;
	}
	
	#tendencias_mobile {
		width: 100%;
		height: auto;
		background-color: gold;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
	}
	
	.tendencia {
		width: 30%;
		height: auto;
		background-color: aqua;
		margin: 1%;
		float: left;
	}
	
	.tendencia img{
		width: 100%;
		height: auto;
		border: 0;
	}
	
	
	#corpo_container {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 90%;
		height: auto;
		margin-top: 20px;
	}

	
	#submenu_inferior {
		display: none;
		width: 100%;
		height: auto;
		position: -webkit-sticky;
		position: sticky;
		bottom: 0;
		padding: 5px;
		background-color: #3d3d3d;
		z-index: 1;
	}
	
	
	footer {
		width: 100%;
		height: 50px;
		background-color: #313131;
		display: flex;
		flex-direction: row;
	}
	
	#logo_rodape {
		width: 150px;
		height: auto;
		padding-left: 20px
	}
	
	#logo_rodape img {
		width: 60%;
		height: auto;
	}
	
	#rodape_info {
		width: auto;
		height: auto;
		flex-grow: 1;
	}
	
	#rodape_info p {
		padding-top: 15px;
		text-align: center;
		font-weight: bold;
	}
	
	
}
	





@media only screen and (max-width: 768px){
	
	header {
		width: 100%;
		height: auto;
		background-color: #313131;
	}

	#logo_topo {
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: center;
	}
	
	.logo {
		width: 200px;
		height: auto;
	}
	
	#menu_topo {
		width: 100%;
		height: auto;
		background-color: #313131;
	}
	
	.categoriaPaginaHome {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaCinema {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaGames {
		width: 100%;
		height: auto;
		background-color: #007F06;
	}
	
	.categoriaPaginaSeries {
		width: 100%;
		height: auto;
		background-color: #D19600;
	}
	
	.categoriaPaginaLancamentos {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaNoticias {
		width: 100%;
		height: auto;
		background-color: #25043B;
	}
	
	.categoriaPaginaHome h2, .categoriaPaginaCinema h2, .categoriaPaginaGames h2, .categoriaPaginaSeries h2, .categoriaPaginaLancamentos h2, .categoriaPaginaNoticias h2{
		text-align: center;
		color: #FFFFFF;
		padding: 7px 0px;
	}
	
	.submenu {
		width: 100%;
		height: auto;
		background-color: #3d3d3d;
		display: none;
	}
	
	.submenu_filtro {
		width: 100%;
		height: auto;
		background-color: #3d3d3d;
	}
	
	.categorias {
		width: 100%;
		display: flex;
		justify-content: space-between;
		/*background-color: bisque;*/
	}
	
	.categorias li{
		width: 100%;
		float: left;
		list-style: none;
		border-radius: 5px;
		text-align: center;
		font-size: 1em;
		margin-right:5px ;
		border: 2px solid #ffffff;
	}
	
	.categorias li:last-child{
		margin-right: 0px ;
	}
	
	.categorias li a{
		display: block;
		text-decoration: none;
		font-size: 1.5em; /*24px*/
		font-weight: bold;
		color: #FFFFFF;
	}
	
	#categoria_home {
		background-color: #969696;
	}
	
	#categoria_filme {
		background-color: #1F3F60;
	}
	
	#categoria_serie {
		background-color: #D19600;
	}
	
	#categoria_game {
		background-color: #007F06;
	}
	
	#categoria_lanc {
		background-color: #313131;
	}
	
	.categorias li:hover {
		box-shadow: 0px 0px 4px #ffffff;
		transition: 1s ease all;
	}
	
	#categoria_home p, #categoria_lanc p, #categoria_filme p, #categoria_serie p, #categoria_game p {
		text-transform: uppercase;
		font-size: .5em;
		padding: 0 auto;
		height: auto;
		display: inherit;
	}
	
	#filtro_container_noticias {
		width: 100%;
		height: auto;
		background-color: #25043b;
		padding: 5px 10px;
		overflow: auto;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	#filtro_container_noticias li{
		width: 25%;
		float: left;
		background-color: #313131;
		margin-right: 5%;
		list-style: none;
		text-align: center;
		border-radius: 15px;
		transition: .25s all ease;
	}
	
	#filtro_container_noticias li:last-child{
		margin-right: 0%;
	}
	
	#filtro_container_noticias li a{
		display: block;
		color: #FFFFFF;
		font-size: 1em;
		font-weight: bold;
		text-decoration: none;
		padding: 4px 0px;
	}
	
	#filtro_container_noticias li:hover {
		box-shadow: 0px 0px 3px #ffffff;
		transition: .5s all ease;
	}
	
	#corpo_container {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 95%;
		height: auto;
		/*background-color: teal;*/
		margin-top: 15px;
	}
	
	#lancamentos_container_mobile {
		width: 100%;
		height: auto;
		/*background-color: blueviolet;*/
		padding: 15px;
	}
	
	#lancamentos_container_mobile h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 15px;
	}
	
	#lancamentos_mobile {
		width: 100%;
		height: 170px;
		background-color: gold;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
	}
	
	.mobile_info {
		width: 100px;
		height: auto;
		background-color: aqua;
		margin: 10px;
		float: left;
	}
	
	.mobile_info img{
		width: 100%;
		height: auto;
		border: 0;
	}
	
	.lancamentos_btn {
	width: 100%;
}
	
	.lancamentos_btn button{
		width: 40%;
		height: 22px;
		border-radius: 11px;
		border-style: none;
		background-color: #FF5F5E;
		color: #FFFFFF;
		text-align: center;
		margin-left: 30%;
	}
	
	#tendencias_container {
		width: 100%;
		height: auto;
		/*background-color: blueviolet;*/
		padding: 5px;
	}
	
	#tendencias_container h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 10px;
	}
	
	#tendencias_mobile {
		width: 100%;
		height: auto;
		background-color: gold;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
	}
	
	.tendencia {
		width: 30%;
		height: auto;
		background-color: aqua;
		margin: 1%;
		float: left;
	}
	
	.tendencia img{
		width: 100%;
		height: auto;
		border: 0;
	}
	
	
	
	#submenu_inferior {
		width: 100%;
		height: auto;
		position: -webkit-sticky; /* Safari */
        position: sticky;
		bottom: -1px;
		padding: 5px;
		background-color: #3d3d3d;
		z-index: 1;
	}
	
	.pg_seletor {
		width: auto;
		position: relative;
		height: 50px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		/*background-color: steelblue;*/
		color: #ffffff;
		padding: 0px 10px;
		font-size: 2em;
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
}
	
	
footer {
		width: 100%;
		height: auto;
		background-color: #313131;
		display: none;
		flex-direction: row;
	}
	
	#logo_rodape {
		width: 150px;
		height: auto;
		padding-left: 20px
	}
	
	#logo_rodape img {
		width: 100%;
		height: auto;
	}
	
	#rodape_info {
		width: auto;
		height: auto;
		flex-grow: 1;
	}
	
	#rodape_info p {
		padding-top: 15px;
		text-align: center;
		font-weight: bold;
	}
	
}
	





@media only screen and (max-width: 360px){		
	
	header {
		width: 100%;
		height: auto;
		background-color: #313131;
	}

	#logo_topo {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: center;
	}
	
	.logo {
		width: 150px;
		height: auto;
	}
	
	#menu_topo {
		width: 100%;
		height: auto;
		background-color: #313131;
	}
	
	.categoriaPaginaHome {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaCinema {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaGames {
		width: 100%;
		height: auto;
		background-color: #007F06;
	}
	
	.categoriaPaginaSeries {
		width: 100%;
		height: auto;
		background-color: #D19600;
	}
	
	.categoriaPaginaLancamentos {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaNoticias {
		width: 100%;
		height: auto;
		background-color: #25043B;
	}
	
	.categoriaPaginaHome h2, .categoriaPaginaCinema h2, .categoriaPaginaGames h2, .categoriaPaginaSeries h2, .categoriaPaginaLancamentos h2, .categoriaPaginaNoticias h2{
		text-align: center;
		color: #FFFFFF;
		padding: 5px 0px;
	}
	
	.submenu {
		width: 100%;
		height: auto;
		background-color: #3d3d3d;
	}
	
	.categorias {
		display: flex;
		justify-content: space-between;
		/*background-color: bisque;*/
	}
	
	.categorias li{
		width: 100%;
		float: left;
		list-style: none;
		border-radius: 5px;
		text-align: center;
		font-size: 1em;
		margin-right:5px ;
		border: 2px solid #ffffff;
	}
	
	.categorias li:last-child{
		margin-right: 0px ;
	}
	
	.categorias li a{
		display: block;
		padding: 5px;
		text-decoration: none;
		font-weight: bold;
		color: #FFFFFF;
	}
	
	#categoria_home {
		background-color: #969696;
	}
	
	#categoria_filme {
		background-color: #1F3F60;
	}
	
	#categoria_serie {
		background-color: #D19600;
	}
	
	#categoria_game {
		background-color: #007F06;
	}
	
	#categoria_lanc {
		background-color: #313131;
	}
	
	.categorias li:hover {
		box-shadow: 0px 0px 4px #ffffff;
		transition: 1s ease all;
	}
	
	#categoria_home p, #categoria_lanc p, #categoria_filme p, #categoria_serie p, #categoria_game p {
		text-transform: uppercase;
		font-size: .4em;
		padding: 0 auto;
		height: auto;
		display: inherit;
	}
	
	
	#filtro_container_noticias {
		width: 100%;
		height: auto;
		background-color: #25043b;
		padding: 5px 10px;
		overflow: auto;
		margin-bottom: 20px;
	}
	
	#filtro_container_noticias li{
		width: 30%;
		float: left;
		background-color: #313131;
		margin-right: 5%;
		list-style: none;
		text-align: center;
		border-radius: 15px;
		transition: .25s all ease;
	}
	
	#filtro_container_noticias li:last-child{
		margin-right: 0%;
	}
	
	#filtro_container_noticias li a{
		display: block;
		color: #FFFFFF;
		font-size: .75em;
		font-weight: bold;
		text-decoration: none;
		padding: 5px 0px;
	}
	
	#filtro_container_noticias li:hover {
		box-shadow: 0px 0px 3px #ffffff;
		transition: .5s all ease;
	}
	
	#lancamentos_container_mobile {
		width: 100%;
		height: auto;
		/*background-color: blueviolet;*/
		padding: 5px;
	}
	
	#lancamentos_container_mobile h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 10px;
	}
	
	#lancamentos_mobile {
		width: 100%;
		height: 125px;
		background-color: gold;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
	}
	
	.mobile_info {
		width: 80px;
		height: auto;
		background-color: aqua;
		margin: 2px;
		float: left;
	}
	
	.mobile_info img{
		width: 100%;
		height: auto;
		border: 0;
	}
	
	.lancamentos_btn {
	width: 100%;
}
	
	.lancamentos_btn button{
		width: 30%;
		height: 22px;
		border-radius: 11px;
		border-style: none;
		background-color: #FF5F5E;
		color: #FFFFFF;
		text-align: center;
		margin-left: 35%;
	}
	
	#tendencias_container {
		width: 100%;
		height: auto;
		/*background-color: blueviolet;*/
		padding: 5px;
	}
	
	#tendencias_container h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
		margin-bottom: 10px;
	}
	
	#tendencias_mobile {
		width: 100%;
		height: auto;
		background-color: gold;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
	}
	
	.tendencia {
		width: 30%;
		height: auto;
		background-color: aqua;
		margin: 1%;
		float: left;
	}
	
	.tendencia img{
		width: 100%;
		height: auto;
		border: 0;
	}
	
	
	#corpo_container {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 95%;
		height: auto;
		/*background-color: teal;*/
		margin-top: 10px;
	}	
	
	
	#submenu_inferior {
		width: 100%;
		height: auto;
		position: -webkit-sticky; /* Safari */
        position: sticky;
		bottom: -1px;
		padding: 5px;
		background-color: #3d3d3d;
		z-index: 1;
	}
	
	
	.pg_seletor {
		width: auto;
		position: relative;
		height: 32px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		/*background-color: steelblue;*/
		color: #ffffff;
		padding: 0px 10px;
		font-size: 1.25em; /*20px*/
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 16px;
		border-top-left-radius: 16px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 16px;
		border-top-right-radius: 16px;
}
	
footer {
		width: 100%;
		height: auto;
		background-color: #313131;
		display: none;
		flex-direction: column;
	}
	
	#logo_rodape {
		width: 80px;
		height: auto;
		margin-top: 5px;
		padding-left: 0px
	}
	
	#logo_rodape img {
		width: 100%;
		height: auto;
	}
	
	#rodape_info {
		width: auto;
		height: auto;
		flex-grow: 1;
	}
	
	#rodape_info p {
		padding-top: 0px;
		text-align: center;
		font-weight: bold;
	}
	
}