@charset "utf-8";
/* CSS Document */

* {
	margin: 0 auto;
	padding: 0; 
	box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:border-box;
}

@font-face {
     font-family: minha_font;
     src: url('font/Roboto-Regular.ttf');
}

/*ESTILO GERAL DA COR DE FUNDO, TAMANHO DO TEXTO E COR DO TEXTO*/
body{
	font-family: minha_font;
	font-weight: normal;
	background-color: #232323;
	color: #ffffff;
}

@media only screen and (min-width: 769px){	
	
	header {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
		display: flex;
		flex-direction: row;
	}

	#logo_topo {
		width: 200px;
		height: 60px;
		/*background-color: yellow; */
	}
	
	.logo {
		width: 100%;
		height: auto;
		padding: 0px 10%;
	}
	
	#menu_topo {
		width: auto;
		height: 40px;
		background-color: #1F3F60;
		float: left;
		flex-grow: 1;
		padding-top: 14px;
	}
	
	
	
.categoriaPaginaCinema {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaGames {
		width: 100%;
		height: auto;
		background-color: #007F06;
	}
	
	.categoriaPaginaSeries {
		width: 100%;
		height: auto;;
		background-color: #D19600;
	}
	
	.categoriaPaginaLancamentos {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaNoticias {
		width: 100%;
		height: auto;
		background-color: #25043B;
	}
	
	.categoriaPaginaCinema h2, .categoriaPaginaGames h2, .categoriaPaginaSeries h2, .categoriaPaginaLancamentos h2, .categoriaPaginaNoticias h2{
		text-align: center;
		color: #FFFFFF;
		padding: 10px 0px;
	}	
		
	.submenu {
		width: 100%;
		height: auto;
		background-color: #3d3d3d;
	}
	
	.categorias {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	.categorias li{
		width: 33%;
		float: left;
		list-style: none;
		/*padding: 10px 20px;*/
		border-radius: 25px;
		text-align: center;
		margin: 10px 10px;
		transition: 1s ease all;
		border: 2px solid #ffffff;
	}
	
	.categorias li a{
		display: block;
		text-decoration: none;
		font-size: 1.5em; /*24px*/
		font-weight: bold;
		color: #FFFFFF;
	}
	
	#categoria_filme {
		background-color: #1F3F60;
	}
	
	#categoria_serie {
		background-color: #D19600;
	}
	
	#categoria_game {
		background-color: #007F06;
	}
	
	.categorias li:hover {
		box-shadow: 0px 0px 4px #ffffff;
		transition: 1s ease all;
	}
	
	#corpo_container {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 90%;
		height: auto;
		margin-top: 20px;
	}

	footer {
		width: 100%;
		height: 50px;
		background-color: yellow;
		display: flex;
		flex-direction: row;
	}
	
	#logo_rodape {
		width: 150px;
		height: auto;
		padding-left: 20px
	}
	
	#logo_rodape img {
		width: 100%;
		height: auto;
	}
	
	#rodape_info {
		width: auto;
		height: auto;
		flex-grow: 1;
	}
	
	#rodape_info p {
		padding-top: 15px;
		text-align: center;
		font-weight: bold;
	}
	
	
}
	





@media only screen and (max-width: 768px){
	
	header {
		width: 100%;
		height: auto;
		background-color: #8aa8bd;
	}

	#logo_topo {
		width: 100%;
		height: 60px;
		display: flex;
		justify-content: center;
	}
	
	.logo {
		width: 200px;
		height: auto;
	}
	
	#menu_topo {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaCinema {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaGames {
		width: 100%;
		height: auto;
		background-color: #007F06;
	}
	
	.categoriaPaginaSeries {
		width: 100%;
		height: auto;
		background-color: #D19600;
	}
	
	.categoriaPaginaLancamentos {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaNoticias {
		width: 100%;
		height: auto;
		background-color: #25043B;
	}
	
	.categoriaPaginaCinema h2, .categoriaPaginaGames h2, .categoriaPaginaSeries h2, .categoriaPaginaLancamentos h2, .categoriaPaginaNoticias h2{
		text-align: center;
		color: #FFFFFF;
		padding: 10px 0px;
	}
	
	.submenu {
		width: 100%;
		height: auto;
		background-color: #3d3d3d;
	}
	
	.categorias {
		width: 100%;
		display: flex;
		justify-content: space-between;
		/*background-color: bisque;*/
	}
	
	.categorias li{
		width: 33%;
		float: left;
		list-style: none;
		border-radius: 25px;
		text-align: center;
		margin: 5px 10px;
		border: 2px solid #ffffff;
	}
	
	.categorias li a{
		display: block;
		text-decoration: none;
		font-size: 1.5em; /*24px*/
		font-weight: bold;
		color: #FFFFFF;
	}
	
	#categoria_filme {
		background-color: #1F3F60;
	}
	
	#categoria_serie {
		background-color: #D19600;
	}
	
	#categoria_game {
		background-color: #007F06;
	}
	
	.categorias li:hover {
		box-shadow: 0px 0px 4px #ffffff;
		transition: 1s ease all;
	}
	
	#corpo_container {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 90%;
		height: auto;
		/*background-color: teal;*/
		margin-top: 15px;
	}
	
footer {
		width: 100%;
		height: auto;
		background-color: yellow;
		display: flex;
		flex-direction: row;
	}
	
	#logo_rodape {
		width: 150px;
		height: auto;
		padding-left: 20px
	}
	
	#logo_rodape img {
		width: 100%;
		height: auto;
	}
	
	#rodape_info {
		width: auto;
		height: auto;
		flex-grow: 1;
	}
	
	#rodape_info p {
		padding-top: 15px;
		text-align: center;
		font-weight: bold;
	}
	
}
	





@media only screen and (max-width: 360px){		
	
	header {
		width: 100%;
		height: auto;
		background-color: #8aa8bd;
	}

	#logo_topo {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: center;
	}
	
	.logo {
		width: 150px;
		height: auto;
	}
	
	#menu_topo {
		width: 100%;
		height: auto;
		background-color: orchid;
	}
	
	
	.categoriaPaginaCinema {
		width: 100%;
		height: auto;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaGames {
		width: 100%;
		height: auto;
		background-color: #007F06;
	}
	
	.categoriaPaginaSeries {
		width: 100%;
		height: auto;
		background-color: #D19600;
	}
	
	.categoriaPaginaLancamentos {
		width: 100%;
		height: auto;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaNoticias {
		width: 100%;
		height: auto;
		background-color: #25043B;
	}
	
	.categoriaPaginaCinema h2, .categoriaPaginaGames h2, .categoriaPaginaSeries h2, .categoriaPaginaLancamentos h2, .categoriaPaginaNoticias h2{
		text-align: center;
		color: #FFFFFF;
		padding: 10px 0px;
	}
	
	.submenu {
		width: 100%;
		height: auto;
		background-color: #3d3d3d;
	}
	
	.categorias {
		width: 100%;
		display: flex;
		justify-content: space-between;
		/*background-color: bisque;*/
	}
	
	.categorias li{
		width: 33%;
		float: left;
		list-style: none;
		border-radius: 20px;
		text-align: center;
		font-size: 1em;
		margin: 5px 10px;
		border: 2px solid #ffffff;
	}
	
	.categorias li a{
		display: block;
		text-decoration: none;
		font-weight: bold;
		color: #FFFFFF;
	}
	
	#categoria_filme {
		background-color: #1F3F60;
	}
	
	#categoria_serie {
		background-color: #D19600;
	}
	
	#categoria_game {
		background-color: #007F06;
	}
	
	.categorias li:hover {
		box-shadow: 0px 0px 4px #ffffff;
		transition: 1s ease all;
	}
	
	#corpo_container {
		position: relative;
		display: flex;
		flex-direction: row;
		width: 95%;
		height: auto;
		/*background-color: teal;*/
		margin-top: 10px;
	}	
	
footer {
		width: 100%;
		height: auto;
		background-color: yellow;
		display: flex;
		flex-direction: column;
	}
	
	#logo_rodape {
		width: 80px;
		height: auto;
		margin-top: 5px;
		padding-left: 0px
	}
	
	#logo_rodape img {
		width: 100%;
		height: auto;
	}
	
	#rodape_info {
		width: auto;
		height: auto;
		flex-grow: 1;
	}
	
	#rodape_info p {
		padding-top: 0px;
		text-align: center;
		font-weight: bold;
	}
	
}