@charset "utf-8";
/* CSS Document */

@font-face {
     font-family: minha_font;
     src: url('font/Roboto-Regular.ttf');
}

body{
	font-family: minha_font;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.6;
}

@media only screen and (max-width: 360px){
	
	* {margin: 0 auto; padding: 0 auto; box-sizing: border-box;}	
	
	header {
		width: 100%;
		height: auto;
		background-color: aqua;
	}
	
	.categoriaPaginaCinema {
		width: 100%;
		height: 40px;
		background-color: #1F3F60;
	}
	
	.categoriaPaginaGames {
		width: 100%;
		height: 40px;
		background-color: #007F06;
	}
	
	.categoriaPaginaSeries {
		width: 100%;
		height: 40px;
		background-color: #D19600;
	}
	
	.categoriaPaginaLancamentos {
		width: 100%;
		height: 40px;
		background-color: #3D3D3D;
	}
	
	.categoriaPaginaNoticias {
		width: 100%;
		height: 40px;
		background-color: #25043B;
	}
	
	.categoriaPaginaCinema h2, .categoriaPaginaGames h2, .categoriaPaginaSeries h2, .categoriaPaginaLancamentos h2, .categoriaPaginaNoticias h2{
		text-align: center;
		color: #FFFFFF;
	}
	
	.slider {
		width: 100%;
		height: 150px;
		background-color: chartreuse;
	}
	
	.submenu {
		width: 100%;
		height: auto;
		background-color: cornflowerblue;
	}
	
	.categorias {
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: bisque;
		margin: 10px 0px;
	}
	
	.categorias li{
		float: left;
		list-style: none;
		padding: 10px 20px;
		background-color: #1F3F60;
		border-radius: 20px;
	}
	
	.categorias li a{
		text-decoration: none;
		font-weight: bold;
		color: #FFFFFF;
	}
	
	
	
	
	.noticias_container, .lancamentos_container, .noticia_container {
		width: 100%;
		height: auto;
		background-color: gray;
	}
	
	.lista_noticias {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: #555454;*/
	}

	.noticia {
		width: 100%;
		height: auto;
		background-color: aquamarine;
		display: flex;
		flex-direction: row;
		margin: 15px 0px;
	}
	
	.imgNoticia {
		width: 30%;
		height: auto;
		background-color: blueviolet;
	}
	
	.imgNoticia img{
		width: 100%;
		height: auto;
	}
	
	.infoNoticiaContainer {
		width: 70%;
		height: auto;
		background-color: darkgoldenrod;
		padding-left: 10px;
	}
	
	.infoNoticia {
		width: 100%;
		height: 20px;
		background-color: violet;
	}
	
	.infoNoticia button {
		height: 16px;
		border-radius: 8px;
		border-style: none;
		color: #FFFFFF;
	}
	
	.infoNoticia .Cinema {
		background-color: #1F3F60;		
	}
	
	.infoNoticia .Games {
		background-color: #007F06;		
	}
	
	.infoNoticia .Series {
		background-color: #D19600;		
	}
	
	.chamadaNoticia {
		width: 100%;
		height: auto;
		background-color: springgreen;
	}
	
	.chamadaNoticia a {
		text-decoration: none;
		color: #000000;
	}
	
	
	
}