@charset "utf-8";
/* CSS Document */


@media only screen and (min-width: 769px){
	
	
#filme_info {
	width: 100%;
	height: auto;
	background-color: #232323;
	display: flex;
	flex-direction: row;
}

#submenu_filme {
	width: 100%;
	height: auto;
	/*background-color: aqua;*/
	padding: 5px;
}	

#mais_info_filme {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 10px 0px;
	}
	
	
	.info_lista {
		width: 28%;
		float: left;
		list-style: none;
		background-color: rgba(31,63,96,0.60);
		border-radius: 25px;
		text-align: center;
		padding: 5px 0px;
		display: table;
		border: 2px solid #ffffff;
		transition: 1s ease all;
	}
	
	.info_lista a{
		width:100%;
		display:block;
		text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
		text-decoration: none;
		font-size: 1em; /*16px*/
		font-weight: bold;
		color: #FFFFFF;
	}	
	
	
	.info_ativa {
		width: 28%;
		float: left;
		list-style: none;
		background-color: #1F3F60;
		border-radius: 25px;
		text-align: center;
		padding: 5px 0px;
		display: table;
		border: 2px solid #ffffff;
	}
	
	.info_ativa a{
		width:100%;
		display:block;
		text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
		text-decoration: none;
		font-size: 1em; /*16px*/
		font-weight: bold;
		color: #FFFFFF;
	}
	
	.info_lista:hover {
		background-color: #1F3F60;
		transition: 1s ease all;
	}
	
	
#poster_filme {
	width: 100%;
	height: auto;
}

	#poster_filme img{
	width: 60%;
	margin: 0px 20%;
	border: 1px solid #000000;
	box-shadow: 1px 1px 2px #272727;
	-webkit-box-shadow: 1px 1px 2px #272727;
}

#info {
	width: 100%;
	height: auto;
	background-color: #232323;
	padding: 10px;
}
	
#info2 {
	width: 100%;
	height: auto;
	background-color: #232323;
	padding: 10px;
}
	
#info3 {
	width: 100%;
	height: auto;
	background-color: #17067E;
	padding: 10px;
}
	
#info h1 {
	font-size: 2em; 
	font-weight: bold;
	line-height: normal;
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

#info h2 {
	width: auto;
	font-size: .875em; /*14px*/
	color: #C0C0C0;
	text-shadow: 1px 1px 1px #000000;
	margin-bottom: 10px;
	text-align: center;
}

#info a {
	width: auto;
	color: #ffffff;
	text-decoration: none;
}

	#info div {
		width: 100%;
		height: auto;
		margin-bottom: 5px; 
		/*background-color: slateblue;*/
		overflow: auto;
	}	
	
#info div h3 {
	width: auto;
	font-size: 1em;
	font-weight: bold;
	float: left;
	padding-right: 10px;
	color: #FF5F5E;
	text-shadow: 1px 1px 1px #000000;
}

#info div p {
	width: auto;
	font-size: 1em;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	float: left;
}


#info ol {
	width: 33.33333333333333%;
	height: auto;
	/*background-color: aqua;*/
	float: left;
}	
	
	#info ol li {
	display: block;
	width: 100%;
	color: #ffffff;
	height: auto;
	text-shadow: 1px 1px 1px #000000;
}

#info ol li h4{
	color: #FF5F5E;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
}

.noticias_container {
		width: auto;
		flex-grow: 1;
		margin-top: 15px;
	}
	
	
	.lista_noticias {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: #555454;*/
	}
	
	.lista_noticias h3{
		width: 100%;
		font-size: 1.275em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
	}

	.noticia {
		width: 100%;
		height: auto;
		background-color: rgba(217,217,217,1.00);
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		padding: 5px;
		border-radius: 5px;
	}
	
	.imgNoticia {
		width: 30%;
		height: auto;
		/*background-color: blueviolet;*/
	}
	
	.imgNoticia img{
		width: 100%;
		height: auto;
	}
	
	.infoNoticiaContainer {
		width: 70%;
		height: auto;
		/*background-color: darkgoldenrod;*/
		padding: 0px 0px 0px 10px;
	}
	
	.infoNoticia {
		width: 100%;
		height: auto;
/*		background-color: violet;*/	
	}
	
	.infoNoticia button {
		height: 26px;
		border-radius: 13px;
		border-style: none;
		color: #FFFFFF;
		padding: 0px 15px 2px 15px;
		font-size: 1.125em;
		float: left;
		margin-right: 10px;
	}
	
	.infoNoticia p {
		width: auto;
		float: left;
		font-size: .75em;
		padding-top: 3px;
	}
	
	.infoNoticia .Cinema {
		background-color: #1F3F60;		
	}
	
	.infoNoticia .Games {
		background-color: #007F06;		
	}
	
	.infoNoticia .Series {
		background-color: #D19600;		
	}
	
	.chamadaNoticia {
		width: 100%;
		height: auto;
		/*background-color: springgreen;*/
		clear: both;
		margin-top: 15px;
	}
	
	.chamadaNoticia p {
		line-height: normal;
		font-size: 1.125em;
		font-weight: bold;
	}
	
	.chamadaNoticia a {
		text-decoration: none;
		color: #000000;
	}	
	
.fichaTecnica {
	width: 100%;
	float: left;
}

.fichaTecnica button{
	width: 80%;
	height: 32px;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 10%;
}	
	
	
}





@media only screen and (max-width: 768px){
	
#filme_info {
	width: 100%;
	height: auto;
	background-color: aquamarine;
	
}

#submenu_filme {
	width: 100%;
	height: auto;
	/*background-color: aqua;*/
	padding: 5px;
}	

#mais_info_filme {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 10px 0px;
	}
	
	.info_lista {
		width: 28%;
		float: left;
		list-style: none;
		background-color: rgba(31,63,96,0.60);
		border-radius: 25px;
		text-align: center;
		padding: 5px 0px;
		display: table;
		border: 2px solid #ffffff;
	}
	
	.info_lista a{
		width:100%;
		display:block;
		text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
		text-decoration: none;
		font-size: 1em; /*16px*/
		font-weight: bold;
		color: #FFFFFF;
	}
	
	.info_ativa {
		width: 28%;
		float: left;
		list-style: none;
		background-color: #1F3F60;
		border-radius: 25px;
		text-align: center;
		padding: 5px 0px;
		display: table;
		border: 2px solid #ffffff;
	}
	
	.info_ativa a{
		width:100%;
		display:block;
		text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
		text-decoration: none;
		font-size: 1em; /*16px*/
		font-weight: bold;
		color: #FFFFFF;
	}
	
	.info_lista:hover {
		background-color: #1F3F60;
		transition: 1s ease all;
	}
	
	
#poster_filme {
	width: 100%;
	height: auto;
}

#poster_filme img{
	width: 60%;
	margin: 10px 20%;
	border: 1px solid #000000;
	box-shadow: 1px 1px 2px #272727;
	-webkit-box-shadow: 1px 1px 2px #272727;
}

#info {
	width: 100%;
	height: auto;
	background-color: #232323;
	padding: 10px;
	overflow: auto;
}

#info2 {
	width: 100%;
	height: auto;
	background-color: #232323;
	padding: 10px;
}
	
#info h1 {
	font-size: 2em;
	font-weight: bold;
	line-height: normal;
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

#info h2 {
	width: auto;
	font-size: .875em; /*14px*/
	color: #C0C0C0;
	text-shadow: 1px 1px 1px #000000;
	margin-bottom: 10px;
	text-align: center;
}

#info a {
	width: auto;
	color: #ffffff;
	text-decoration: none;
}

#info div {
	width: 100%;
	height: auto;
	margin-bottom: 5px; 
	/*background-color: slateblue;*/
	overflow: auto;
}	
	
#info div h3 {
	width: auto;
	font-size: 1em;
	font-weight: bold;
	float: left;
	padding-right: 10px;
	color: #FF5F5E;
	text-shadow: 1px 1px 1px #000000;
}

#info div p {
	width: auto;
	font-size: 1em;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	float: left;
}	
	

#info ol {
	width: 33.33333333333333%;
	height: auto;
	/*background-color: aqua;*/
	float: left;
}	

#info ol li {
	display: block;
	width: 100%;
	color: #ffffff;
	height: auto;
	text-shadow: 1px 1px 1px #000000;
}

#info ol li h4{
	color: #FF5F5E;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
}

.noticias_container {
		width: auto;
		flex-grow: 1;
		margin-top: 15px;
	}
	
	
	.lista_noticias {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: #555454;*/
	}

	.lista_noticias h3{
		width: 100%;
		font-size: 1.125em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
	}
	
	.noticia {
		width: 100%;
		height: auto;
		background-color: rgba(217,217,217,1.00);
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;
		padding: 5px;
		border-radius: 5px;
	}
	
	.imgNoticia {
		width: 20%;
		height: auto;
		/*background-color: blueviolet;*/
	}
	
	.imgNoticia img{
		width: 100%;
		height: auto;
	}
	
	.infoNoticiaContainer {
		width: 80%;
		height: auto;
		/*background-color: darkgoldenrod;*/
		padding: 0px 0px 0px 10px;
	}
	
	.infoNoticia {
		width: 100%;
		height: auto;
/*		background-color: violet;*/	
	}
	
	.infoNoticia button {
		height: 26px;
		border-radius: 13px;
		border-style: none;
		color: #FFFFFF;
		padding: 0px 15px 2px 15px;
		font-size: 1.125em;
		float: left;
		margin-right: 10px;
	}
	
	.infoNoticia p {
		width: auto;
		float: left;
		font-size: .75em;
		padding-top: 0px;
	}
	
	.infoNoticia .Cinema {
		background-color: #1F3F60;		
	}
	
	.infoNoticia .Games {
		background-color: #007F06;		
	}
	
	.infoNoticia .Series {
		background-color: #D19600;		
	}
	
	.chamadaNoticia {
		width: 100%;
		height: auto;
		/*background-color: springgreen;*/
		clear: both;
		margin-top: 15px;
	}
	
	.chamadaNoticia p {
		line-height: normal;
		font-size: 1em;
		font-weight: bold;
	}
	
	.chamadaNoticia a {
		text-decoration: none;
		color: #000000;
		
	}	
	
	
.fichaTecnica {
	width: 100%;
	float: left;
}

.fichaTecnica button{
	width: 80%;
	height: 32px;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 10%;
}
	
	
	
}






@media only screen and (max-width: 360px){

	#submenu_filme {
	width: 100%;
	height: auto;
	/*background-color: aqua;*/
	padding: 5px;
}	

.mais_info_filme {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 10px 0px;
	}
	
	.mais_info_filme li{
		width: 28%;
		float: left;
		list-style: none;
		background-color: rgba(31,63,96,0.60);
		border-radius: 25px;
		text-align: center;
		padding: 5px 0px;
		display: table;
		border: 2px solid #ffffff;
	}
	
	.mais_info_filme li a{
		text-decoration: none;
		font-size: 1em; /*16px*/
		font-weight: bold;
		color: #FFFFFF;
	}	
	
	
	#poster_filme {
	width: 100%;
	height: auto;
}
	
	#poster_filme img{
	width: 60%;
	margin: 10px 20%;
	border: 1px solid #000000;
	box-shadow: 1px 1px 2px #272727;
	-webkit-box-shadow: 1px 1px 2px #272727;
}

#info {
	width: 100%;
	height: auto;
	background-color: #232323;
	padding: 5px;
}	

#info2 {
	width: 100%;
	height: auto;
	background-color: #232323;
	padding: 5px;
}	
	
#info h1 {
	font-size: 1.5em;
	font-weight: bold;
	line-height: normal;
	color: #ffffff;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

#info h2 {
	width: auto;
	font-size: .875em; /*14px*/
	color: #C0C0C0;
	text-shadow: 1px 1px 1px #000000;
	margin-bottom: 10px;
	text-align: center;
}	
	
#info div h3 {
	width: auto;
	font-size: .75em;
	font-weight: bold;
	float: left;
	padding-right: 10px;
	color: #FF5F5E;
	text-shadow: 1px 1px 1px #000000;
}

#info div p {
	width: auto;
	font-size: .75em;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	float: left;
}


.sinopse {
	font-size: .75em; /*12px*/
}

#info ol {
	width: 33.33333333333333%;
	height: auto;
	/*background-color: aqua;*/
	float: left;
}	
	

#info ol li {
	display: block;
	width: 100%;
	color: #ffffff;
	height: auto;
	text-shadow: 1px 1px 1px #000000;
}

#info ol li h4{
	color: #FF5F5E;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
}

	.noticias_container {
		width: auto;
		flex-grow: 1;
		margin-top: 15px;
	}
	
	
	.lista_noticias {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: #555454;*/
	}

	.lista_noticias h3{
		width: 100%;
		font-size: 1em;
		font-weight: bold;
		color: #FFFFFF;
		text-shadow: 1px 1px 2px #000000;
	}
	
	.noticia {
		width: 100%;
		height: auto;
		background-color: rgba(217,217,217,1.00);
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
		padding: 5px;
		border-radius: 5px;
	}
	
	.imgNoticia {
		width: 20%;
		height: auto;
		/*background-color: blueviolet;*/
	}
	
	.imgNoticia img{
		width: 100%;
		height: auto;
	}
	
	.infoNoticiaContainer {
		width: 80%;
		height: auto;
		/*background-color: darkgoldenrod;*/
		padding: 0px 0px 0px 5px;
	}
	
	.infoNoticia {
		width: 100%;
		height: auto;
/*		background-color: violet;*/	
	}
	
	.infoNoticia button {
		height: 26px;
		border-radius: 13px;
		border-style: none;
		color: #FFFFFF;
		padding: 0px 15px 2px 15px;
		font-size: 1.125em;
		float: left;
		margin-right: 10px;
	}
	
	.infoNoticia p {
		width: auto;
		float: left;
		font-size: .5em;
		padding-top: 0px;
	}
	
	.infoNoticia .Cinema {
		background-color: #1F3F60;		
	}
	
	.infoNoticia .Games {
		background-color: #007F06;		
	}
	
	.infoNoticia .Series {
		background-color: #D19600;		
	}
	
	.chamadaNoticia {
		width: 100%;
		height: auto;
		/*background-color: springgreen;*/
		clear: both;
		margin-top: 5px;
	}
	
	.chamadaNoticia p {
		font-size: .75em;
		line-height: 1em;
	}
	
	.chamadaNoticia a {
		text-decoration: none;
		color: #000000;
	}
	
	
.fichaTecnica {
	width: 100%;
	float: left;
}

.fichaTecnica button{
	width: 80%;
	height: 32px;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 10%;
}	
	
	
}






	
