@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 769px){
	
	
	.lancamentos_container {
		position: relative;
		width: 100%;
		height: auto;
/*		background-color: yellowgreen;*/
	}
	
	.lancamentos_lista {
		position: relative;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
/*		background-color: aquamarine;*/
	}
	
	.pg_seletor {
		width: 100%;
		position: relative;
		height: 50px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		background-color: steelblue;
		color: #ffffff;
		padding: 0px 10px;
		font-size: 2em;
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
}
	
	#filme_info {
		width: 200px;
		height: auto;
		/*background-color: aquamarine;*/
		margin: 15px 0px;
}


	#info {
		display: none;
	}
	
#poster_filme {
	width: auto;
	height: auto;
	/*background-color: blueviolet;*/
}

#poster_filme img{
	width: 100%;
	border: 1px solid #000000;
	box-shadow: 2px 2px 3px #000000;
	-webkit-box-shadow: 2px 2px 3px #000000;
}
	
.filtro_container{
	position: relative;
	width: 100%;
	height: auto;
	background-color: violet;
}

.form_filtro {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col-20 {
    float: left;
    width: 20%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row_small:after {
    content: "";
    display: table;
}


.row_medium:after {
    content: "";
    display: table;
	clear: both;
}	
	
.fichaTecnica {
	width: 100%;
	float: left;
}

.fichaTecnica button{
	width: 80%;
	height: 32px;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 10%;
}	
	
}



@media only screen and (max-width: 768px){

.filtro_container{
	position: relative;
	width: 100%;
	height: auto;
	background-color: violet;
}

.form_filtro {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.col-20 {
    float: left;
    width: 20%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row_small:after {
    content: "";
    display: table;
}


.row_medium:after {
    content: "";
    display: table;
	clear: both;
}

#filme_info {
	width: 100%;
		height: auto;
		background-color: aquamarine;
		display: flex;
		flex-direction: row;
		margin: 15px 0px;
}

#poster_filme {
	width: 30%;
	height: auto;
	background-color: blueviolet;
}

#poster_filme img{
	width: 100%;
	border: 1px solid #000000;
	box-shadow: 1px 1px 2px #272727;
	-webkit-box-shadow: 1px 1px 2px #272727;
}

#info {
	width: 70%;
	height: auto;
	/*background-color: darkgoldenrod;*/
	padding-left: 10px;
}

#info h1 {
	font-size: 1em;
	font-weight: bold;
	line-height: normal;
	color: #000000;
	text-shadow: 1px 1px 2px #000000;
	text-align: left;
}

#info h2 {
	width: auto;
	font-size: .875em; /*14px*/
	color: #C0C0C0;
	text-shadow: 1px 1px 1px #000000;
	margin-bottom: 10px;
	text-align: left;
}

#info a {
	width: auto;
	color: #ffffff;
	text-decoration: none;
}

	#info div {
		width: 100%;
		height: auto;
		margin-bottom: 5px; 
		background-color: slateblue;
		overflow: auto;
	}	
	
#info div h3 {
	width: auto;
	font-size: .75em;
	font-weight: bold;
	float: left;
	padding-right: 10px;
	color: #FF5F5E;
	text-shadow: 1px 1px 1px #000000;
}

#info div p {
	width: auto;
	font-size: .75em;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	float: left;
}

#info ol {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	float: left;
	/*background-color: darkgoldenrod;*/
	margin-top: 10px;
}

.sinopse {
	font-size: .75em; /*12px*/
}

#info ol li {
	display: block;
	width: 30%;
	color: #ffffff;
	height: auto;
	float: left;
	text-shadow: 1px 1px 1px #000000;
}

#info ol li h4{
	color: #FF5F5E;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
}

.fichaTecnica {
	width: 100%;
	float: left;
}

.fichaTecnica button{
	width: 80%;
	height: 32px;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 10%;
}

.pg_seletor {
		width: auto;
		position: relative;
		height: 50px;
		text-align: center;
		margin: auto;
	}
	
	.pg_seletor a {
		width: auto;
		text-decoration: none;
		background-color: steelblue;
		color: #ffffff;
		padding: 0px 10px;
		font-size: 2em;
	}
	
	.pg_seletor a:first-child {
		border-bottom-left-radius: 25px;
		border-top-left-radius: 25px;
}

	.pg_seletor a:last-child {
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
}	
	
	
}
	