
	.mobile-menu {
		display: block;	
		width: 100%;
		height: auto;
		background: #313131/*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/;
		line-height: 1.6em;
		font-weight: 400;
		text-align:center;
		position: relative;	
		float: left;
		clear: right;	
	}

	/*Strip the ul of padding and list styling*/
	.mobile-menu ul {
		list-style-type:none;
		margin: 0 auto;
		padding: 0 20%;
		text-align:center;
		width: 100%;
		position: absolute;
		background: #313131;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	/*Create a horizontal list with spacing*/
	.mobile-menu li {
		display:inline-block;
		/*float: left; */
		/*margin-bottom: 2px;*/
	}

	/*Style for menu links*/
	.mobile-menu li a {
		display:block;
		min-width:80px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		text-transform:uppercase;
		background: #313131;
		text-decoration: none;
		padding: 8px 0 3px 0;  
		-webkit-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-ms-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
	}

	/*Hover state for top level links*/
	.mobile-menu li:hover a {
		color: #66ccff;
	  /*background-color:#ccddee;*/
	}

	.ativo {
		color: #66ccff;
	  /*background-color:#ccddee;*/
		border-bottom: 4px solid #ffffff;
	}

	.ativoC {
		color: #66ccff;
	  /*background-color:#ccddee;*/
		border-bottom: 4px solid #1F3F60;
	}

	.ativoS {
		color: #66ccff;
	  /*background-color:#ccddee;*/
		border-bottom: 4px solid #D19600;
	}

	.ativoG {
		color: #66ccff;
	  /*background-color:#ccddee;*/
		border-bottom: 4px solid #007F06;
	}

	/*Style for dropdown links*/
	.mobile-menu li:hover ul a {
		/*background: #f3f3f3;*/
		color: #2f3036;
		height: 40px;
		line-height: 40px;
	}

	/*Hover state for dropdown links*/
	/*.mobile-menu li:hover .mobile-menu ul a:hover {
		color: #4db3ff;
	}*/

	/*Hide dropdown links until they are needed*/
	.mobile-menu li ul {
		display: none;
	}

	/*Make dropdown links vertical*/
	.mobile-menu li ul li {
		display: block;
		float: none;
	}

	/*Prevent text wrapping*/
	.mobile-menu li ul li a {
		width: auto;
		min-width: 100px;
		padding: 0 20px;
	}


	/*Style 'show menu' label button and hide it by default*/
	.mobile-menu .show-menu {
		text-decoration: none;
		color: #fff;
		background: #313131;
		text-align: center;
		padding: 10px 15px;
		display: none;
		cursor: pointer;
		text-transform: uppercase;
	}

	.mobile-menu .show-menu span{
	   padding-left: 15px;

	}

	/*Hide checkbox*/
	.mobile-menu input[type=checkbox]{
		display: none;
	}

	/*Show menu when invisible checkbox is checked*/
	.mobile-menu input[type=checkbox]:checked ~ #menu{
		display: block;
	}


/*Responsive Styles*/

@media screen and (max-width : 768px){
	
	.mobile-menu .lines {
		border-bottom: 15px double #f8f8f8; 
		border-top: 5px solid #f8f8f8; 
		content:"";
		height: 5px; 
		width: 20px;
		padding-right: 15px;
		float: right;
	}
	
	/*Hover state for top level links*/
	.mobile-menu li:hover a {
		color: #66ccff;
	  /*background-color:#ccddee;*/
		border-bottom: 0px solid #000000;
	}

	/*Make dropdown links appear inline*/
	.mobile-menu ul {
		position: static;
		display: none;
	}
	
	/*Create vertical spacing*/
	.mobile-menu li {
		margin-bottom: 1px;
	}
	
	/*Make all menu links full width*/
	.mobile-menu ul li, .mobile-menu li a {
		width: 100%;
	}
	
	/*Display 'show menu' link*/
	.mobile-menu .show-menu {
		display:block;
	}
	
	
	
	
}