@charset "utf-8";
/* CSS Document */


@media only screen and (min-width: 769px){
	

	.noticias_container {
		position: relative;
		width: 100%;
		height: auto;
		flex-grow: 1;
/*		background-color: violet;*/
		margin-right: 20px;
		margin-bottom: 30px;
	}

	
	.categorias_lancamento_container {
		width: 400px;
		height: 100%;
		background-color: brown;
		
	}
	
	.info_relacionado {
		width: 100%;
		margin: auto;
		background-color: yellow;
	}
	
	.info_relacionado img {
		width: 80%;
		height: auto;
		margin: 20px 10% 0px 10%;
		background-color: navajowhite;
	}

	
	.lista_noticias {
		width: 100%;
		height: auto;
	}
	
	
.noticia_completa {
	position: relative;
	width: 100%;
	/*background-color: slategrey;*/
}

.topoNoticia {
	width: 100%;
	height: auto;
/*	background-color: yellow;*/
}

.topoNoticia h1 {
	width: 100%;
	font-size: 1.375em;
	text-align: center;
	margin-top: 15px;
}

.topoNoticia h2 {
	width: 100%;
	margin-top: 10px;
	font-size: .75em;
	text-align: center;
	color: #B5B5B5;
}

.topoNoticia p {
	font-size: .875em;
	text-align: center;
	margin: 20px 10% 5px 10%;
	width: 80%;
	/*background-color: blue;*/
	border-top: 2px inset #4990A6;
	padding-top: 3px;
}

.corpo_noticia img {
	position: relative;
	width: 100%;
	margin: 10px 0px;
}

.info_relacionado .info h1 {
	font-size: 1.375em; /*22px*/
	font-weight: bold;
	line-height: normal;
	color: #000000;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}	
	

.info_relacionado .info h2{
	font-size: .875em; /*14px*/
	color: #C0C0C0;
	text-shadow: 1px 1px 1px #000000;
	margin: 0px 10px;
	text-align: center;
}

.fichaTecnica {
	width: 100%;
	float: left;
	padding-top: 5px;
}

.fichaTecnica button{
	width: 80%;
	height: 32px;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 10%;
}

	.noticias_relacionadas_container {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: tan;*/
		padding: 5px;
		margin-top: 50px;
	}	
	
	.noticias_relacionadas_container > p{
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	.noticia_relacionada {
		width: 100%;
		height: auto;
		background-color: yellowgreen;
		display: flex;
		flex-direction: row;
	}
	
	.noticia_relacionada img {
		width: 40%;
		height: 100%;
		float: left;
	}
	
	.noticia_relacionada h1 {
		width: auto;
		flex-grow: 1;
		font-size: .875em; /*14px*/
		font-weight: bold;
		line-height: normal;
		color: #000000;
		text-align: left;
		float: left;
		margin-left: 10px
	}
	
	.noticia_relacionada a {
		text-decoration: none;
	}
}






@media only screen and (max-width: 768px){
	
	.noticias_container {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: violet;*/
		margin-bottom: 30px;
		margin-right: 10px;
	}	
	
.lista_noticias {
		width: 80%;
		height: auto;
	}
	
	
.noticia_completa {
	position: relative;
	width: 100%;
	height: auto;
	margin: 10px 0px;
}

.topoNoticia {
	width: 100%;
	height: auto;
}

.topoNoticia h1 {
	font-size: 1.375em;
	text-align: center;
}

.topoNoticia h2 {
	width: 100%;
	margin-top: 10px;
	font-size: .75em;
	text-align: center;
	color: #B5B5B5;
}

.topoNoticia p {
	font-size: .875em;
	text-align: center;
	margin: 15px 10% 5px 10%;
	width: 80%;
	/*background-color: blue;*/
	border-top: 2px inset #4990A6;
	padding-top: 3px;
}

.corpo_noticia img {
	position: relative;
	width: 100%;
	margin: 10px 0px;
}

.categorias_lancamento_container {
		width: 120px;
		height: 100%;
		background-color: rgba(181,181,181,0.7);
		margin-top: 10px;
		padding: 0px;
	}	
	
.info_relacionado_container {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;
	/*background-color: #21761D;	*/
}

.info_relacionado {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	/*background-color: #B5B5B5;*/
	padding: 5px;
}

.poster_relacionado, .img_noticia_relacionada {
	width:100%;
	height: auto;
	padding-top: 0px;
}

.poster_relacionado img, .img_noticia_relacionada img{
	width: 100%;
	height: auto;
}

.info_relacionado .info, .noticia_relacionada .titulo_noticia_relacionada {
	width: auto;
	flex-grow: 1;
}

.info_relacionado .info h1 {
	font-size: 1em;
	font-weight: bold;
	line-height: normal;
	color: #000000;
	text-shadow: 1px 1px 2px #000000;
	text-align: center;
}

.info_relacionado .info h2{
	font-size: .75em;
	color: #C0C0C0;
	text-shadow: 1px 1px 1px #000000;
	margin-bottom: 10px;
	text-align: center;
}

.fichaTecnica {
	width: 100%;
	float: left;
}

.fichaTecnica button{
	width: 100%;
	height: auto;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 0;
	padding: 5px 10px;
	font-size: 1em;
}
	
	.noticias_relacionadas_container {
		width: 100%;
		height: auto;
		/*background-color: #B5B5B5;*/
		padding: 5px;
		margin-top: 30px;
	}
	
	.noticias_relacionadas_container > p{
		font-size: .75em;
		font-weight: bold;
		margin: 0px 0px 10px 0px;
	}
	
	.noticia_relacionada {
		width: 100%;
		height: auto;
		/*background-color: yellowgreen;*/
		display: flex;
		flex-direction: column;
		padding: 0px;
	}
	
	.noticia_relacionada img {
		width: 100%;
		height: auto;
		float: left;
	}
	
	.noticia_relacionada h1 {
		width: auto;
		flex-grow: 1;
		font-size: .625em; /*10px*/
		font-weight: bold;
		line-height: normal;
		color: #ffffff;
		text-align: left;
		float: left;
		margin-top: 5px
	}
	
	.noticia_relacionada a {
		text-decoration: none;
	}	
	
}





@media only screen and (max-width: 360px){

	.categorias_lancamento_container {
		display: none;
	}
	
	.noticias_container {
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		margin-right: 0px;
	}
	
	.lista_noticias {
		width: 100%;
		height: auto;
	}
	
	
.noticia_completa {
	position: relative;
	width: 100%;
	margin: 10px 0px;
}

.topoNoticia {
	width: 100%;
	height: auto;
}

.topoNoticia h1 {
	font-size: 1em;
	text-align: center;
}

.topoNoticia h2 {
	width: 100%;
	margin-top: 10px;
	font-size: .75em;
	text-align: center;
	color: #B5B5B5;
}

.topoNoticia p {
	display: block;
	font-size: .75em;
	text-align: center;
	margin-top: 15px;
	width: 80%;
	/*background-color: blue;*/
	border-top: 2px inset #4990A6;
	padding-top: 3px;
}

.corpo_noticia img {
	position: relative;
	width: 100%;
	margin: 10px 0px;
}

.info_relacionado_container {
	position: relative;
	width: 100%;
	height: auto;
	padding: 5px;
	background-color: #21761D;	
}

.info_relacionado, .noticia_relacionada {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	background-color: yellow;
}

.poster_relacionado, .img_noticia_relacionada {
	width: 80px;
	height: auto;
}

.poster_relacionado img, .img_noticia_relacionada img{
	width: 100%;
	height: auto;
}

.info_relacionado .info, .noticia_relacionada .titulo_noticia_relacionada {
	width: auto;
	flex-grow: 1;
	padding: 0px 5px;
}

.info_relacionado .info h1 {
	font-size: 1.375em; /*22px*/
	font-weight: bold;
	line-height: normal;
	color: #000000;
	text-shadow: 1px 1px 2px #000000;
	text-align: left;
}

.info_relacionado .info h2{
	font-size: .875em; /*14px*/
	color: #C0C0C0;
	text-shadow: 1px 1px 1px #000000;
	margin-bottom: 10px;
	text-align: left;
}

.fichaTecnica {
	width: 100%;
	float: left;
}

.fichaTecnica button{
	width: 80%;
	height: 32px;
	border-radius: 16px;
	border-style: none;
	background-color: #FF5F5E;
	color: #FFFFFF;
	text-align: center;
	float: right;
	margin-right: 10%;
}

.noticia_relacionada .titulo_noticia_relacionada h1 {
	font-size: 1.375em; /*22px*/
	font-weight: bold;
	line-height: normal;
	color: #000000;
	text-align: left;
}
	
	
	
}

