@charset "utf-8";
/* CSS Document */

/*ESTILO PARA PÁGINA DE NOTÍCIAS
	- Todos os estilos da página que mostra a lista de notícias devem estar aqui
	- Evitar duplicidade de ids e classes em outras folhas*/




/*######################################################

MEDIA QUERY PARA VERSÃO DESKTOP DA PÁGINA DE NOTÍCIAS
	- Largura miníma: 769px

######################################################*/


@media only screen and (min-width: 769px){
	
	/*################################
	SECTION MOBILE
		- Essas sections ficam ocultas na versão desktop*/

	
	
	
	/*################################
	TAGS DA NOTÍCIA
		- */
	
	#tags {
		position: relative;
		width: 100%;
		height: auto;
/*		background-color: violet;*/
		margin-bottom: 20px;
		overflow: auto;
	}
	
	#tags li:first-child  {
		float: left;
		width: auto;
		margin: 0px 10px 0px 0px;
		padding: 5px 10px;
		list-style: none;
		border-radius: 6px;
		font-weight: bold;
		font-size: 1em;
	}
	
	#tagCinema:first-child {
		background-color: #1f3f60;
	}
	
	#tagSeries:first-child {
		background-color: #d19600;
	}
	
	#tagGames:first-child {
		background-color: #007f06;
	}
	
	
	#tags li {
		float: left;
		width: auto;
		margin: 6px 5px 0px 0px;
		padding: 2px 5px;
		list-style: none;
		background-color: #F65F5E;
		border-radius: 5px;
		font-size: .75em;
	}
	
	
	
	
	
	/*################################
	ARTICLE NOTICIA
		- Article com header e conteudo da noticia*/

	#noticia_completa {
		/*background-color: #3E1818;*/
		margin-bottom: 30px;
	}

	#noticia_completa header {
		position: relative;
		width: 100%;
		height: auto;
		background-color: transparent;
		border-bottom: 2px inset #2D2D2D;
	}
	
	#noticia_completa header h1 {
		font-size: 2em; /*32px*/
		margin-bottom: 20px;
		text-align: center;
		text-shadow: 1px 1px 2px #000000;
	}

	#noticia_completa header h2 {
		font-size: 1em;
		margin-bottom: 20px;
		text-align: center;
	}
	
	#info_post {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: darkred;*/
	}
	
	
	#info_post div {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: seagreen;*/
	}
	
	#info_post div img {
		position: relative;
		width: 50px;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 25px;
		margin-bottom: 5px;
	}
	
	#info_post div p {
		font-size: .75em;
		text-align: center;
	}
	
	#noticia_completa img {
		width: 100%;
		height: auto;
		margin: 20px 0px;
	}
	
	#noticia_completa img {
		width: 100%;
		height: auto;
		margin: 20px 0px;
	}
	
	#noticia_completa > p {
		margin-top: 10px;
	}
	
	
	
	
	
	
	/*################################
	ASIDE DESKTOP
		- Aside da versão desktop*/
	
	#titulo_relacionado {
		width: 100%;
		height: auto;
		margin: auto;
		/*background-color: brown;*/
		padding: 5px;
	}
	
	#titulo_relacionado img{
		width: 80%;
		height: auto;
		margin-left: 10%;
		border: 1px solid #000000;
	}
	
	#titulo_relacionado > div{
		position: relative;
		width: 100%;
		height: auto;
		margin-top: 5px;
		padding: 5px 0px;
		text-align: center;
		/*background-color: steelblue;*/
	}
	
	#titulo_relacionado > div h1{
		font-size: 1.375em;
		margin-bottom: 5px;
		text-shadow: 1px 1px 2px #000000;
	}
	
	#titulo_relacionado > div p{
		font-size: 1em;
		margin-bottom: 5px;
		text-shadow: 1px 1px 2px #000000;
	}
	
	#noticia_relacionada {
		width: 100%;
		height: auto;
		margin: auto;
		/*background-color: brown;*/
		padding: 5px;
	}
	
	
	.noticia {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: violet;*/
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		
	}
	
	.noticia img {
		width: 70%;
		height: 100%;
	}
	
	.noticia a {
		width: auto;
		height: auto;
		padding-left: 10px;
		flex-grow: 1;
	}
	
	.noticia h1 {
		font-size: .75em;
		text-shadow: 1px 1px 2px #000000;
	}
	
	
	
	
}




/*######################################################

MEDIA QUERY PARA VERSÃO DESKTOP DO INDEX
	- Largura miníma: 361px
	- Largura máxima: 768px

######################################################*/

@media screen and (max-width: 768px) and (min-width: 361px){
	

	/*################################
	SECTION DESKTOP
		- Essas sections ficam ocultas na versão desktop*/

	#corpo_container aside {
		width: 100%;
		height: auto;
		display: none;
		background-color: navy;
		overflow: auto;		
	}
	
	#corpo_container aside section {
		width: 100%;
		height: auto;
		background-color: seagreen;
		overflow: auto;
		
	}
	
	#corpo_container aside section:last-child {
		display: none;
		
	}
	
	
	
	
	
	/*################################
	TAGS DA NOTÍCIA
		- */
	
	#tags {
		position: relative;
		width: 100%;
		height: auto;
/*		background-color: violet;*/
		margin-bottom: 20px;
		overflow: auto;
	}
	
	#tags li:first-child {
		float: left;
		width: auto;
		margin: 0px 10px 0px 0px;
		padding: 5px 10px;
		list-style: none;
		border-radius: 6px;
		font-weight: bold;
		font-size: 1em;
	}
	
	#tagCinema:first-child {
		background-color: #1f3f60;
	}
	
	#tagSeries:first-child {
		background-color: #d19600;
	}
	
	#tagGames:first-child {
		background-color: #007f06;
	}
	
	
	#tags li {
		float: left;
		width: auto;
		margin: 6px 5px 0px 0px;
		padding: 2px 5px;
		list-style: none;
		background-color: #F65F5E;
		border-radius: 5px;
		font-size: .75em;
	}
	
	
	
	
	
	/*################################
	ARTICLE NOTICIA
		- Article com header e conteudo da noticia*/

	#noticia_completa {
		/*background-color: #3E1818;*/
		margin-bottom: 30px;
	}

	#noticia_completa header {
		position: relative;
		width: 100%;
		height: auto;
		background-color: transparent;
	}
	
	#noticia_completa header h1 {
		font-size: 1.5em; /*24px*/
		margin-bottom: 20px;
		text-align: center;
		text-shadow: 1px 1px 2px #000000;
	}

	#noticia_completa header h2 {
		width: 100%;
		font-size: 1em;
		margin-bottom: 20px;
		text-align: center;
	}
	
	#info_post {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: darkred;*/
	}
	
	
	#info_post div {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: seagreen;*/
	}
	
	#info_post div img {
		position: relative;
		width: 50px;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 25px;
		margin-bottom: 5px;
	}
	
	#info_post div p {
		font-size: .75em;
		text-align: center;
	}
	
	#noticia_completa img {
		width: 100%;
		height: auto;
		margin: 20px 0px;
	}
	
	#noticia_completa img {
		width: 100%;
		height: auto;
		margin: 20px 0px;
	}
	
	#noticia_completa > p {
		margin-top: 10px;
	}
	
	
	
	
	
	
	/*################################
	ASIDE DESKTOP
		- Aside da versão desktop*/
	
	#titulo_relacionado {
		width: 100%;
		height: auto;
		margin: auto;
		background-color: brown;
		padding: 5px;
		overflow: auto;
	}
	
	#titulo_relacionado img{
		width: 20%;
		height: auto;
		float: left;
	}
	
	#titulo_relacionado > div{
		position: relative;
		width: 80%;
		height: auto;
		padding: 5px 20px;
		text-align: left;
		background-color: steelblue;
		float: left;
	}
	
	#titulo_relacionado > div h1{
		font-size: 1.375em;
		margin-bottom: 5px;
	}
	
	#titulo_relacionado > div h2{
		font-size: 1em;
		/*margin-bottom: 5px;*/
	}
	
	#noticia_relacionada {
		width: 100%;
		height: auto;
		margin: auto;
		/*background-color: brown;*/
		padding: 5px;
	}
	
	.noticia {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: violet;*/
		margin-bottom: 10px;
		
	}
	
	.noticia img {
		width: 20%;
		height: auto;
		float: left;
	}
	
	.noticia a {
		width: 80%;
		height: auto;
		padding-left: 10px;
		float: left;
	}
	
	.noticia h1 {
		font-size: 1em;
	}

	
	
	
}




/*######################################################

MEDIA QUERY PARA VERSÃO MOBILE DO INDEX
	- Largura máxima: 360px

######################################################*/

@media only screen and (max-width: 360px){
	
	/*################################
	ASIDE
		- Fica oculto na versão mobile*/
	
	#corpo_container aside {
		display: none;
	}
	
	
	
	
	/*################################
	TAGS DA NOTÍCIA
		- */
	
	#tags {
		position: relative;
		width: 100%;
		height: auto;
/*		background-color: violet;*/
		margin-bottom: 20px;
		overflow: auto;
	}
	
	#tags li:first-child {
		float: left;
		width: auto;
		margin: 0px 10px 0px 0px;
		padding: 3px 10px;
		list-style: none;
		border-radius: 3px;
		font-weight: bold;
		font-size: 1em;
	}
	
	#tagCinema:first-child {
		background-color: #1f3f60;
	}
	
	#tagSeries:first-child {
		background-color: #d19600;
	}
	
	#tagGames:first-child {
		background-color: #007f06;
	}
	
	#tags li {
		float: left;
		width: auto;
		margin: 4px 5px 0px 0px;
		padding: 1px 4px;
		list-style: none;
		background-color: #F65F5E;
		border-radius: 2px;
		font-size: .75em;
	}
	
	
	
	/*################################
	ARTICLE NOTICIA
		- Article com header e conteudo da noticia*/

	#noticia_completa {
		/*background-color: #3E1818;*/
		margin-bottom: 30px;
	}

	#noticia_completa header {
		position: relative;
		width: 100%;
		height: auto;
		background-color: transparent;
	}
	
	#noticia_completa header h1 {
		font-size: 1.375em;
		margin-bottom: 20px;
		text-align: center;
		text-shadow: 1px 1px 2px #000000;
	}

	#noticia_completa header h2 {
		font-size: .75em;
		margin-bottom: 20px;
		text-align: center;
		text-shadow: 1px 1px 2px #000000;
	}
	
	#info_post {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: darkred;*/
	}
	
	
	#info_post div {
		position: relative;
		width: 100%;
		height: auto;
		/*background-color: seagreen;*/
	}
	
	#info_post div img {
		position: relative;
		width: 50px;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 25px;
		margin-bottom: 5px;
	}
	
	#info_post div p {
		font-size: .75em;
		text-align: center;
	}
	
	#noticia_completa img {
		width: 100%;
		height: auto;
		margin: 20px 0px;
	}
	
	#noticia_completa > p {
		margin-top: 10px;
	}
	
	
}